<div class="jumbotron">
  <h1 class="display-6">ようこそ！</h1>
  <p class = "lead">このサイトはフォークソングクラブの面倒なバンド管理のために作られました</p>
  <p class = "lead">随時機能追加していくので気長にお待ちください</p>

  <%unless user_signed_in? %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "ユーザー登録", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <%end %>
  <p></p>
  <small>FSC50代 長谷川寛拓</small>
</div>
