
<div class="center jumbotron">
  <h1>FSCmanagerへようこそ</h1>
<h4>このアプリは面倒なバンド管理の効率化を目的として開発されました</h4>
<h4>バンド管理だけに留まらず随時新しい機能を追加していく予定です</h4>
<h4>このアプリがいつまでもフォークソングクラブの役に立つことを願っております</h4>
  <%unless user_signed_in? %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-primary" %>
  <%end %>
<h5>FSC50代中退 長谷川寛拓</h5>
</div>
