<div class='emphasis'>通知</div>
<%notifications = @notifications.where.not(visitor_id: current_user.id) %>
<%if notifications.exists? %>
  <%= render notifications %>
  <%= paginate notifications %>
<%else %>
  <div class='emphasis'>まだ通知がありません</div>
<%end %>
