<h1>バンドを作成する</h1>
<div class="col-md-6 col-md-offset-3">
<%= react_component("BandCreate",token: form_authenticity_token, collections: @collections) %>
<%= link_to 'キャンセル', @band, class: 'btn btn-info' %> <br>
</div>
