@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar-brand {
  background: url("fsc_logos/1.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}