
.btn{
  margin: .07rem;
}

.top-interval{
  display: block;
  margin: 1rem 0rem 0.7rem 1.2rem;
}

.topandbottom5px{
  margin-top: .1rem;
  margin-bottom: .1rem
}

.account-wall{
  max-width: 440px;
  margin: 0px auto;
  padding: .5rem .5rem;
  background-color: #F2F2F2;
}

.label-margin{
  margin: .2rem 0rem .2rem 0rem;
}



.list-group{
    img{
    width: 35px;
  }
}

.list-group-item{
  padding: .4rem 1.25rem;
    background-color: #F2F2F2;
}

.media{
  .img-thumbnail{
    margin: .2rem;
  }
  input{
    transform: scale(3.0);
    margin: 1.8rem 1.3rem 0rem 0rem;
    float: right;
  }
}

// サイドバー

  .index_container{
  margin-top: 1rem;
}

.serchButton_m{
  display: inline-block;
}

.sidebar{
  background-color: #F2F2F2;
  padding: 0.6rem;
  margin: 0.6rem;
}

.serchBox_m{
  font-weight: bold;
}

@media screen and (min-width: 1080px){

  .index_container {
  width: 1000px;
  display: -webkit-flex;
  display: flex;
}
.main {
  display: block;
  width: 660px;
  margin-left: 1.5rem;
}
.sidebar {
  width: 320px;
  background-color: #F2F2F2;
  padding: 0.6rem;
  margin: 0.6rem;
}

.serchBox_m{
  margin-top: 1rem;
    font-size: 120%;
    font-weight: 700;
}
}


.dynamic_error_message {
  color: red;
  font-style: italic;
}

.img-thumbnail{
  margin: 0.4rem;
}

td{
  .img-thumbnail{
    margin: 0px;
  }
}


.btn-fixed-width{
  width: 9rem;
}






/*ナビバー*/
.nav-item{
  span{
    margin-left: 0.2rem;
  }
}

.navbar-brand {
  background: url("fsc_logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}

$bgDefault      : #c1c0ab;
$bgHighlight    : #bcbabd;
$colDefault     : #ffffff;
$colHighlight   : #909090;
$dropDown       : false;
.navbar {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggler {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
      .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
