<p><%= @resource.email %>さん、FSCmanagerをご利用していただきありがとうございます</p>

<p>誰かがパスワードを変更する要求を行いました。以下のリンクからパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストに見覚えがないのならこのメールは無視してください</p>
<p>上記のリンクにアクセスして新しいパスワードを設定するまで元のパスワードは保持されます</p>
